In [2]:
#pip install openpyxl

In [4]:
import pandas as pd

In [5]:
df = pd.read_excel('HOLYDOOR VERİLERİ.xlsx', engine='openpyxl')

In [7]:
df.sample(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
282,NaN,NaN,1,282,2024-06-03 00:00:00,2024-07-20 00:00:00,47,920,pvc gri,baklava,NaN,NaN,NaN,NaN,50,9
1,NaN,NaN,NaN,NaN,NaN,Satın Alma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,NaN,NaN,NaN,255,2024-03-07 00:00:00,2024-04-17 00:00:00,41,930,pvc gri,karışık çizgi,6,1,1,2,NaN,NaN
82,NaN,NaN,5,243,2024-01-07 00:00:00,2024-02-25 00:00:00,49,630,bute beyaz,karışık çizgi,102,NaN,NaN,NaN,NaN,NaN
316,NaN,NaN,NaN,297,2024-06-03 00:00:00,2024-08-26 00:00:00,84,660,NaN,baklava,50,34,NaN,NaN,NaN,NaN